/* Reset ringkas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
  background-color: #f8f8f8;
  color: #333;
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  background-color: #222;
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: orange;
}

/* Header */
header h1 {
  text-align: center;
  padding: 20px;
  background-color: orange;
  color: white;
}

/* Section */
section {
  padding: 40px 20px;
  text-align: center;
}

/* Menu Card */
.menu-item {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Button */
.menu-item a,
.delivery a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.menu-item a:hover,
.delivery a:hover {
  background-color: darkgreen;
}
.menu-item img {
  padding: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Footer */
footer {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
}
footer li {
  display: inline-block;
  padding: 11px;
}
footer a {
  text-decoration: none;
  color: white;
}


html {
  scroll-behavior: smooth;
}